@import "https://fonts.googleapis.com/css?family=Raleway");

body{
	padding: 0;
	margin: 0;

}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
body{
	background-color: #f4f4f4;

}
h1 {
  color: black;
}
/*navbar*/

.nav-link{
   margin-right: 1em !important;
 }
.navbar-brand a {
	color: #f4f4f4;
}
.navbar-collapse{
  justify-content: flex-end;
}
/*social media*/
.fa {
  padding: 12px;
  font-size: 15px;
  width: 15px;
}
/*header*/
.header1{
   background-image:url(images/pic3.png);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size:cover;
 }
 header#header1 {
     height: 640px;
 }
.description{
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:#FFFFFF ;
}
.description p{
	color:#FFFFFF;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
section{
	padding-top: 59px;
}
/*about us*/
.img-fluid {
  border-radius: 50% ;
}
p.watchit {
    padding-top: 5%;
}
h1.text-center {
    padding-top: 30px;
}
.movies2{
	margin: 4em 0;
	position: relative;
}
.movies2 h1{
	margin: 2em;
}
.movies2 .card{
	box-shadow: 0 0 30px #ccc;
	margin-bottom: 50px;
	height: 52em;
	width: 20rem;
}

.movies2 .card-body{
	padding: 1em;
}
/*news*/
.news2{
	margin: 4em 0;
	position: relative;
}
.news2 h1{
	margin: 2em;
}
.news2 .card{
	box-shadow: 0 0 30px #ccc;
	height: 30em;
	margin-bottom: 40px;
}
.news2 .card-body{
	padding: 1em;
}
/*reservations*/
section#res {
  padding-bottom: 100px;
}
/*footer*/
.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #f4f4f4;
}
